<br><br>
    <font size="5" color ="gray" face = "Baskerville Old Face">所有訂單</font>
    <hr>
     <table class="table table-striped">
        <thead>
            <tr>
               <font size="2" color ="gray" face = "Baskerville Old Face"> <th>會員 #</th></font>
                <th>姓名</th>
                <th>訂購人</th>
                <th>訂購人EMAIL</th>
                <th>查看訂單</th>
                <th>取消訂單</th>
                
            </tr>
        </thead>

    <br>
    <div id="orders">
        <%= render @orders %>
    </div>
       
</table>
