
<center>
<font color="gray" size ="5" face = "Baskerville Old Face">
<%= link_to '新增 Pins+', new_pin_path %> |
<%= link_to '所有會員', usering_path %> |
<%= link_to "所有訂單", manage_path %> |
<a href="http://www.chef29.com/categories/new" >新增分類</a>

</center></font>
<br>

