<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/about" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- 關於 Chef29" /> 
    <meta property="og:description"     content="Chef29 將透過科技與美食的結合，不斷的創新，發明新飲食產品來服務各位朋友。也希望透過這些新產品來幫助有需要的人，讓各位的生活與台灣都變得更好。 " /> 
    <meta name="og:keywords"     content="a poet,料理,主廚,食譜,chef29,料理教學,買1給1,今晚大廚,美食,精緻料理,Chefs,食材,有機食品" /> 
    <meta property="og:image"           content="https://farm8.staticflickr.com/7299/13614275105_d3d8e1d42f.jpg" /> 

    
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>


<br><br>
<center>
  
     <font color="gray" size ="6" face = "Baskerville Old Face">有意義的精緻美食
        </font>
</center>
<br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br>


<hr>


<center>
<div class="row-fluid">

    <div class="span1"  >
  <right>
  
  <br>
  <br>
  <br>  
<br>
<br>
  </right>
</div>
  
  <div class="span2"  >
  <right>
  
  <br>
  <br>
  <br>  
    <font color="red" size ="3" ><%= link_to "關於 Chef29", about_path %></font>

    <br>
<br>
    <font color="red" size ="3" ><%= link_to "Chef29 主廚團隊 ", chefs_path %></font>
  
<br>
<br>
    <font color="red" size ="3" ><%= link_to "好公司 ", goodcompany_path %></font>
     <br>
<br>
    <font color="red" size ="3" ><%= link_to "好人俱樂部", dogooder_path %></font>
  </right>
</div> 

  <div class="span9">
  <center>

<img src="https://farm8.staticflickr.com/7231/13597557235_c0752ad30c_k.jpg" width="1400" height="2000" alt="Menu">


<br><br><br>

<hr>

<br><br>

<img src="https://farm8.staticflickr.com/7187/13752775134_57b06f6379_o.jpg" width="1400" height="2000" alt="Menu">

<br><br><br>

<hr>

<br><br>

<img src="https://farm8.staticflickr.com/7314/13690388293_2f62846eef_o.jpg" width="1400" height="2000" alt="Menu">

</center>
  </div> 



</div></div>

</center>

<hr>
<br><br>






<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>


</center>
</center>
</div>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>