<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/account" /> 
    <meta property="og:title"           content="Chef29 今晚大廚-付款帳號" /><meta property="og:description"     content="Chef29 今晚大廚餐點訂購付款轉賬銀行帳號。若您認同（買1給1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm4.staticflickr.com/3761/9730599510_a74ae4585d_o.png" /> 
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
     <font color="gray" size ="6" face = "Baskerville Old Face">為節省手續費，捐贈更多給貧困兒童，請利用ATM轉帳
        </font>
          <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>
   
            <% end %>
        </font>
     
  </center>
</head>

<body>
<img src="http://farm8.staticflickr.com/7401/10688186036_09b238a1e5_o.png" width="1416" height="446" alt="10572560456_23439626d9_o"></a>

</body>
