<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/chefs" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 － 廚師團隊" /> 
    <meta property="og:description"     content="Chef29 主廚團隊由行政主廚 Enzo Yang 帶領，為各位設計新餐點，精心挑選廠商，把關食材來源與包裝過程。主廚團隊擁有多年精緻料理經驗，專精地中海料理。" /> 
    <meta property="og:image"           content="https://farm4.staticflickr.com/3725/13775075763_b416f96eb5_o.png" /> 
<% end %>


<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>


<br><br>
<center>
  
     <font color="gray" size ="6" face = "Baskerville Old Face">一群熱愛料理又愛幫助人的美食達人
        </font>
</center>
<br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br>
<hr>


<center>
<div class="row-fluid">

    <div class="span1"  >
  <right>
  
  <br>
  <br>
  <br>  
<br>
<br>
  </right>
</div>
  
  <div class="span2"  >
  <right>
  
  <br>
  <br>
  <br>  
    <font color="red" size ="3" ><%= link_to "關於 Chef29", about_path %></font>

  <br>
<br>
    <font color="red" size ="3" ><%= link_to "Chef29 主廚團隊 ", chefs_path %></font>
  
<br>
<br>
    <font color="red" size ="3" ><%= link_to "好公司 ", goodcompany_path %></font>

         <br>
<br>
    <font color="red" size ="3" ><%= link_to "好人俱樂部", dogooder_path %></font>

  </right>
</div> 

  <div class="span9">
  <center>

<img src="https://farm6.staticflickr.com/5292/13729124564_38e2b5a2ca_o.jpg" width="1400" height="2000" alt="Menu">

<br><br>

<a href="http://www.chef29.com/hoc" ><img src="https://farm6.staticflickr.com/5087/13690265594_58f92389a1_h.jpg" width="1400" height="300" alt="Bonappetite"></a>

<br><br><br><br>
<hr>

<img src="https://farm3.staticflickr.com/2893/13842420345_411dc6dd55_o.jpg" width="1400" height="2000" alt="Menu">

<br><br>

<a href="http://www.chef29.com/users/enzo-yang" ><img src="https://farm6.staticflickr.com/5087/13690265594_58f92389a1_h.jpg" width="1400" height="300" alt="Bonappetite"></a>


<br><br><br><br>
<hr>

<img src="https://farm8.staticflickr.com/7208/13909515743_c3a09d1493_o.jpg" width="1400" height="2000" alt="Menu">
<br><br>
<br><br>
<img src="https://farm4.staticflickr.com/3756/13886340676_8b12c712bc_o.jpg" width="1400" height="2000" alt="Menu">
<br><br>
<br><br>
<img src="https://farm8.staticflickr.com/7306/13909875764_7a54a60a66_o.jpg" width="1400" height="2000" alt="Menu">
<br><br>
<br><br>
<img src="https://farm4.staticflickr.com/3665/13909459345_2069fc15f2_o.jpg" width="1400" height="2000" alt="Menu">
<br><br>
<a href="http://www.chef29.com/users/a-poet-chef-floy-kuo" ><img src="https://farm6.staticflickr.com/5087/13690265594_58f92389a1_h.jpg" width="1400" height="300" alt="Bonappetite"></a>



<br><br><br><br>
<hr>



</center>
  </div> 


</div></div>

</center>



<br>
  <br>
  <br> 



<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>


</center>
</center>
</div>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>