<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/donations" /> 
    <meta property="og:title"           content="Chef29 今晚大廚-捐贈記錄" /> 
    <meta property="og:description"     content="Chef29今晚大廚每個月在第一周將捐出前月買1給1的金額。若您認同（買1捐1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm6.staticflickr.com/5530/10661624223_dc81403645_o.png" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
  <font color="gray" size ="6" face = "Baskerville Old Face">買1餐，捐1餐捐贈記錄。
        </font>
          <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </font>   
</center>

<body>
 <center><font color="gray" size ="4" face = "Baskerville Old Face">
每個月的第一周， Chef29 今晚大廚將會結算並捐出前月（買1餐，捐1餐）的捐<br><br>贈金額。所有捐贈記錄將會公佈在官網上與Chef29 FB 粉絲專頁上。我們很希望能<br><br>夠親自幫助那些需要幫助的人，但目前因人力有限，只能依靠各慈善基金會代為行善。
 </font>
<br><br><br>
 <center><font color="red" size ="4" face = "Baskerville Old Face">
若您覺得Chef29 今晚大廚的（買1 捐1）概念是有意義的事，是否可以請您將Chef29 分享給朋友，告訴他們透過我們購買的第一份餐點是免費的！！
<br>
(11月5號前皆為 Chef29 今晚大廚自掏腰包私人捐款，11月5號將公佈實際捐款金額。)
</font>

</center>

 <hr>
<center>家扶基金會 11/05/2013
<br><br>
<img src="http://farm8.staticflickr.com/7378/10815116313_ca05640054_o.png" width="602" height="588" alt="10688175805_1bdf9ebf07_o">
 <hr>
<center>兒童福利基金會  11/04/2013
<br><br>
<img src="http://farm8.staticflickr.com/7299/10815116263_c6a951bbfe_o.png" width="694" height="515" alt="10661428714_ce4768e6ec_o"></a>
<hr>
台灣世界展望會 11/04/2013
<br><br>
<img src="http://farm8.staticflickr.com/7397/10814989464_91082076b0_o.png" width="903" height="515" alt="10661622753_3eb6c75c84_o"></a>

</center>
</body>

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>