<title> Chef29 今晚大廚-了解更多 Learn more about Chef29  on www.chef29.com!  </title>

<br><br>
<center>
    <font color="gray" size ="6" face = "Baskerville Old Face">常問問題</font>
     </font>
  </center>
  <br><br>

<div class="center hero-unit">
  <head>
    <font size ="5">
      <center>
   Frequently Asked Questions
      </center>
    </font> 

    <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/faq" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- 常問問題" /><meta property="og:description"     content="Chef29今晚大廚 －大廚為您準備食譜與食材，送到府上29分鐘讓您變大廚。" /> 
    <meta property="og:image"           content="http://www.pernaton.com.tw/wp-content/uploads/2013/09/faq01.jpg" /> 
<% end %>
  </head>
<br>

<br>

<body>
   <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點(每週水果箱）訂購截止時間為？</font>
<br>
   <font size ="3" >為每週5下午1點30分 （隔周3，4，5下午送出餐點）。</font>
<br><br>

 <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點(每週水果箱）付款截止時間為？</font>
<br>
   <font size ="3" >為每週5下午3點30分 （隔周3，4，5下午送出餐點）。</font>
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點(每週水果箱）出貨時間為？</font>
<br>
   <font size ="3" >本週訂購餐點(每週水果箱）出貨時間為下週3，4，5中午過後。</font>
<br><br>
<hr>

 <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點(一週水果箱）送貨有限制地區嗎？</font>
<br>
   <font size ="3" >全台灣都出貨</font>
<br><br>

   <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 餐點(一週水果箱）出貨地點在哪裡？</font>
<br>
   <font size ="3" >目前所有餐點(一週水果箱）出貨地點為台北市敦化南路1段295巷9號。
<br><br>

  </font>

<hr>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 料理需要有什麼特別廚房用具？</font>
<br>
<font size ="3" >食材方面您只需要鹽巴，黑胡椒與橄欖油。廚房用具您只需要一般的鍋子，炒菜鍋與刀子，其他的我們都會幫您準備好。
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 每道料理需要多少時間準備？</font>
<br>
   <font size ="3" >我們所有的食譜都設計好讓您在 29 分鐘以內就可以準備好。
<br><br>

     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 每道餐點有多少卡路里？</font>
<br>
   <font size ="3" >我們的餐點都是為了健康與美味而設計，因此每道餐點平均在500-700卡路里。
<br><br>

     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們的食材都是從哪裡買的？安全嗎？</font>
<br>
   <font size ="3" >我們餐點用的食材來源跟許多安合路高級餐廳相同，同時我們也會使用許多國外進口的食材。在食材方面的安全請您放心，因為我們所有的員工，包括創辦人自己每餐都是吃一樣的食材。
<br><br>
     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 食材可以保存多久？</font>
<br>
   <font size ="3" >我們的食材都是為了讓您在收到餐點當周使用，但為了食材的新鮮度我們建議您先料理海鮮類。
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 我需要洗蔬菜水果嗎？</font>
<br>
   <font size ="3" >是的我們建議您在料理前先洗過蔬菜水果。
<br><br>

  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 食材已經清理，切好可以直接料理嗎？</font>
<br>
   <font size ="3" > 我們強調的是學習與體驗料理一道精緻美食的過程，而非為了方便省事隨便吃一頓飯了事，也為了衛生考量，因此我們只有為您分配好食材份量，但不會幫您處理食材到可以直接料理，因為處理食材是學習料理的基本過程。
<br><br>

     <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們會提供更多餐點選擇嗎？</font>
<br>
   <font size ="3" >會的，目前我們只是剛起步，以後每週會提供更多餐點選擇，也包括素食餐點。
<br><br>

<font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 我們什麼時候可以取消餐點？</font>
<br>
<font size ="3" > 您可以在餐點(每週水果箱）訂購截止時間（訂餐當周五下午 1:30分）前取消餐點，請依照（如何購買 >取消訂單）的步驟來完成。</font>
<br><br>

<hr>
  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們會捐出跟我們一樣的餐點(每週水果箱）給慈善基金會嗎？</font>
<br>
   <font size ="3" >不會，我們希望能夠為社會做些有意義的事，因此目的只是為了幫助弱勢朋友/兒童能夠少挨餓一餐，但捐出山珍海味不是我們應該做的。原本每賣出一份餐我們捐出 ＄10，於5月開始我們提高給出金額至＄30，同一份營養午餐。若在未來裡餐點訂購量可以持續增長，食材成本也能有效率的降低，我們會不斷的調高將捐出去每份餐的金額。但為了幫助最多的人數為目標，我們必須有效率的分配資源，所以還是得將要捐出去的每份餐的金額壓在最低，因為如此至少可以讓更多人可以免於挨餓一餐。
<br>
<br>
    每個月要給出做好事的金額裡有50％會捐出，另外50%將挪給愛心餐庫存作緊急救濟用，如突然的天災人禍。</font>
<br><br>

<hr>
  <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> 你們是勸募活動嗎？</font>
<br>
   <font size ="3" >不是， 我們是家想作好事的營利事業並不是在勸募，未來還將在創造就業機會努力，因此請因為我們的餐點的價值而購買，請勿以因為慈善而購買。</font>
<br><br>


    <font color="#5CA5FF" size ="4" face = "Baskerville Old Face"> Chef29 今晚大廚的公司是？</font>
<br>
   <font size ="3" >迪士洛普有限公司 <br>
    地址： 106台北市忠孝東路4段107號12樓之4 <br>
    電話： 02-2392-6225</font>
<br><br>
 </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</div>