<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/give "> 
    <meta property="og:title"           content="Chef29 今晚大廚-買1給1">
    <meta property="og:description"     content="每當您在Chef 29 今晚大廚購買一份餐點，我們將會捐一份餐點或同一份餐的金額幫助弱勢朋友與平困兒童。若您認同（買1給1）是在作有意義的事，請告訴他們購買的第一份餐點是免費的。 Chef29 今晚大廚是家想也會作善事的營利事業並不是勸募活動，未來還將為創造就業機會努力，因此請因為我們餐點的價值而購買，請勿因慈善購買。" /> 
    <meta property="og:image"           content="http://farm4.staticflickr.com/3733/10879819654_19a2c44239_o.jpg" />
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>


<br><br>
<center>
<center><font color="#5CA5FF" size ="6" face = "Baskerville Old Face"> BUY 1 GIVE 1</font> <font color=gray size ="6" face = "Baskerville Old Face"> - 買 1 給 1  </font>

 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face">Living A Life Of Purpose - 過著有意義的人生</font></i></center>
 <br><br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>


<br><br>

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<hr>
<div class="row-fluid">

  <div class="span1">

</div>

  <div class="span4" >


<center>
 <a href="http://www.chef29.com/give" ><img src="https://farm8.staticflickr.com/7249/13918900604_c5243d94a0_o.jpg" width="400" height="280" alt="Menu"></a> 
</center>

 </div>
   


<div class="span2" style="border-right: 1px solid #ccc;" >

<center>
 <a href="http://www.chef29.com/give" ><img src="https://farm8.staticflickr.com/7164/13842439643_5c49cf4767_o.jpg" width="150" height="68" alt="Menu"></a> 
</center>

</div>



  <div class="span2" style="border-right: 1px solid #ccc;" >


<center>
 <a href="http://www.chef29.com/lovemeal" ><img src="https://farm8.staticflickr.com/7077/13842783454_713113cbd6_o.jpg" width="150" height="68" alt="Menu"></a> 
</center>

</div>



  <div class="span2">


<center>
 <a href="http://www.chef29.com/makemoney" ><img src="https://farm4.staticflickr.com/3752/13895427106_d92febe562_o.jpg" width="170" height="90" alt="Menu"></a> 
</center>

</div>


  <div class="span1">

</div>

</div>

<hr>

<br><br>
  <div class="center hero-unit">
  
<img src="http://farm3.staticflickr.com/2891/12265944255_def2a23a82_o.png" width="825" height="550" alt="kid 3"></a>
<br><br>

<center><i><font color = "gray" size ="5" face = "Baskerville Old Face"> "我們只希望每位小朋友都有飯吃，正常的教育與開心的童年<br>他們是國家未來的棟樑，難道我們不應該關心一下嗎？ "</font></i></center>
<br><br>

<p><h3><font >做好事 </font>|<font color="#5CA5FF"> DO GOOD</h3></p>

<p> 
<font color = "white"> <%= link_to '買 1 給 1', new_orderlist_path, class: "btn btn-large btn-success" %></font>
</p>
<br>

</div>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> THE  PROBLEM  -  問題 </font>

<center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >我們想幫助需要幫助的人</font></i></center>
<hr>
<img src="http://farm6.staticflickr.com/5485/10833504384_3b7a092067_o.png" width="865" height="419" alt="give1">

<hr>
<center><font color = "gray" size ="6" face = "Baskerville Old Face"> WE WANT TO HELP  - 我們想幫忙 </font>
 <center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >但我們只是剛起步的小小新創事業, 所以只能計劃這麼作...</font></i></center>
 
<hr>

<img src="https://farm8.staticflickr.com/7323/13981416510_572919ecf0_o.png" width="950" height="810" alt="why32">

<br><br>


 <br><br>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> 作好事 | Do Good</font>
</center>
<br><br>
<center><i><font color = "gray" size ="4" face = "Baskerville Old Face"  >因人手不足，Chef29 今晚大廚只能暫時仰賴慈善機構代為作好事,
<br>
我們是家想作好事的營利事業並不是在勸募，若資源允許，未來還希望為創造就業機會努力。
<br>
別笑，是真的有辦法創造就業機會。

 </font></i></center>
<hr>
<br>


<center>
<div class="row-fluid">
  
  <div class="span4"  >
    <center>
    
  <img src="http://farm4.staticflickr.com/3808/12266759376_726e03746d_o.png" width="280" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span4">
    <center>
 <img src="http://farm6.staticflickr.com/5478/12266624314_a86eaae333_o.png" width="280" height="700" alt="Menu"></a> 
</center>
  </div> 


  <div class="span4">
  <center>
  <img src="http://farm8.staticflickr.com/7404/12611163075_c270a0b2b4_o.png" width="280" height="310" alt="jointoday"></a>

</center>
  </div>

</div>

</center>
</center>

<br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span4"  >
    <center>
    
   <img src="http://farm8.staticflickr.com/7330/12611566084_0b826f7d01_o.png" width="280" height="700" alt="Menu"></a> 

  </center>
</div> 

  <div class="span4">
    <center>
 <img src="http://farm4.staticflickr.com/3797/12611253663_40d1b7587d_o.png" width="280" height="700" alt="Menu"></a> 
</center>
  </div> 


  <div class="span4">
  <center>
 <img src="http://farm8.staticflickr.com/7330/12611566084_0b826f7d01_o.png" width="280" height="700" alt="Menu"></a> 

</center>
  </div>

</div>

</center>
</center>

<br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span4"  >
    <center>
    
  <img src="http://farm8.staticflickr.com/7380/12266625524_539754f978_o.png" width="280" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span4">
    <center>
 <img src="http://farm4.staticflickr.com/3788/12266438334_4c67463599_o.png" width="290" height="700" alt="Menu"></a> 
</center>
  </div> 


  <div class="span4">
  <center>
<img src="http://farm8.staticflickr.com/7390/12266364375_73aeeaf21f_o.png" width="280" height="301" alt="howtobuy"></a>

</center>
</div>

</div>

</center>
</center>

<br><br>

<center>
<div class="row-fluid">
  
  <div class="span4"  >
    <center>
    

  </center>
</div> 

  <div class="span4">
    <center>

</center>
  </div> 


  <div class="span4">
  <center>


</center>
  </div>

</div>

</center>
</center>
<br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>


<br>
 
 <script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</center>
</html>

