<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/help"> 
    <meta property="og:title"           content="Chef29 今晚大廚-想幫助我們嗎？">
    <meta property="og:description"     content="Chef29 今晚大廚是一新創良心事業 （Startup With A Social Mission)，我們並沒有雄厚的財力或人力資源，只有一股想幫助人的熱誠。因此我們希望透過（買1給1）做好事的概念來幫助弱勢朋友與貧困兒童。我們非常清楚自己目前的能力有限，能幫助到的人數不多。所以我們想透過結合科技與各位好心人的力量，經過有效率的資源分配，一步一腳印的逐漸增強我們能正面影響他人生活的能力。Chef29 今晚大廚是家想作好事的營利事業並不是勸募活動，未來還將為創造就業機會努力，因此請因為我們餐點的價值而購買，請勿因慈善購買。" /> 
    <meta property="og:image"           content="http://www.musescoretips.com/wp-content/uploads/2011/01/Help-by-LiminalMike.jpg" />
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>


<br><br>
<center>
 <center><font color = "gray" size ="6" face = "Baskerville Old Face">請協助我們幫助更多人</font></center>

</center>
<br><br><br><br>


<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br><br>

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
<center><i><font color="gray" size ="4" face = "Baskerville Old Face">
"Chef29 今晚大廚是一新創良心事業 （Startup With A Social Mission)，我們並沒有雄厚的財力或人力資源，<br><br>
只有一股想幫助人的熱誠。因此我們希望透過（買1給1）
做好事的概念來幫助弱勢朋友與貧困兒童。我們<br><br>
非常清楚自己目前的能力有限，能幫助到的人數不多。因此我們希望透過結合科技與各位好心人的力量，<br><br>
經過有效率的資源分配，一步一腳印的逐漸增加我們能正面影響他人生活的能力。" </i>   - 推動人馬修敬上
<br><br><br><br>
我該如何幫忙？
<br><br>
1. 分享給朋友－最便宜又不用花錢的幫助就是將我們的服務分享給您的朋友，他們的第一餐免費哦！
<br><br>
2. 購買餐點－ 您可以學習料理國外餐點，省錢，省採買時間，不浪費剩菜，吃的更健康，更有品味。
<br><br>
3. 想幫助更多－ 我們常缺東缺西的，有時候只是把菜刀有時候是食譜，因此我們會把所缺的列在
<br><br>
以下，若您有多餘的能力，譬如有食譜還是很會做菜。請您不吝嗇的伸出援手。若您有其他想法，
<br><br>
請透過以下連結與我們聯絡。
<br><br>
4. 貴人企業 － 若您是公司行號，我們提供許多網路廣告，宣傳flyer服務，您也可以直接購買餐點指定
<br><br>
作為愛心餐來作廣告曝光，若您有興趣請與我們聯絡。
<br><br><br><br>
<%= link_to "我想幫助 Chef29 今晚大廚", contact_path %>

 </font>


 </font>
<br><br><br>

<hr>

<div class="row-fluid" >
  <div class="span4" style="border-right: 1px solid #ccc;" >
<br>
<center><font color = "gray" size ="3" face = "Baskerville Old Face">需要您的幫助</font></center>
<br><br>

<img src="http://farm4.staticflickr.com/3829/10739242883_6b13ab35b2_o.jpg" width="230" height="403" alt="1st free meal">
<br><br><br>
<img src="http://farm6.staticflickr.com/5518/10738090074_b5d7312200_o.jpg" width="250" height="884" alt="share">

 </div>

<div class="span4" style="border-right: 1px solid #ccc;" ><center>           
<br>
<center><font color = "gray" size ="3" face = "Baskerville Old Face">
  貴人
  <br><br><br>
  林明仁 － Food Saver 封口機一台
  <br><br>
  黃錦惠 － 電子重量測量機一台
  <br><br>
  吳宜然 － 食品級封口袋5包
  <br><br>
  曾啟瑞 － Hitachi 小冰箱一台
  <br><br>
  楊家華 － Cutco 菜刀組合
  <br><br>
  李凱雲 － 抽油煙機一台
   <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br><br><br>

</font>


</center>
</div>

<div class="span4" ><center>           
<br>
<center><font color = "gray" size ="3" face = "Baskerville Old Face">貴人企業</font>
<br><br><br>
<img src="http://farm4.staticflickr.com/3792/10738022776_2df1c63655_o.png" width="200" height="900" alt="The chef stars"></a>

<br><br><br>
<img src="https://farm8.staticflickr.com/7048/13616745703_09f0cd9bde_o.png" width="200" height="900" alt="The chef stars"></a>
<center><%= link_to "a poet 餐廳"," https://www.facebook.com/pages/A-poet/538471039532897?fref=ts" %></center>


</center>
</div>

</div>

<br><br><br><br>


<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

 </body>
 <script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</center>
</html>


