<!DOCTYPE html>
<html>
<head>
  <% content_for :head do %>
  <meta property="fb:app_id"          content="479820998782220" /> 
  <meta property="og:type"            content="website" /> 
  <meta property="og:url"             content="http://www.chef29.com/how" /> 
  <meta property="og:title"           content="Chef29 今晚大廚-如何購買" /> 
  <meta property="og:description"     content="Chef29今晚大廚每週推出不同餐點，為您準備食譜，購買食材，分裝後送到您府上。若您認同（買1給1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
  <meta property="og:image"           content="http://farm4.staticflickr.com/3666/9783210552_31c4c07975_o.jpg" /> 
<% end %>

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

</head>
<center>
<br><br>
  
  <font color="gray" size ="6" face = "Baskerville Old Face">發現，學習，體驗，享受，吸收，分享，回饋...</font>

<br><br><br><br>



<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br><br>


<hr>


<center><font color = "gray" size ="6" face = "Baskerville Old Face"> THIS IS NOT JUST EATING , IT'S A JOURNEY OF LEARNING </font></center>

<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >這不僅是吃頓飯，而是一輩子學習的旅程</font></i></center>


<hr>

<br><br><br><br><br>

 <center>  <div class="flex-video widescreen"><iframe src="//player.vimeo.com/video/81164840?byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/81164840">如何訂購餐點</a> from <a href="http://vimeo.com/user14110827">Chef29</a> on <a href="https://vimeo.com">Vimeo</a>.</p></center>


<br><br><br><br>

<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> 轉帳：付款帳號/也可選貨到付款 </font></center>
<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >請在訂購當周星期五下午3點30分前完成付款</font></i></center>
<hr>

<br><br><br><br>
<img src="https://farm4.staticflickr.com/3713/14084136049_5d3db85aeb_o.jpg" width="1016" height="446" alt="10572560456_23439626d9_o">

<br><br><br><br>
<hr>

<center><font color = "gray" size ="6" face = "Baskerville Old Face"> 完成餐點轉賬／匯款，請告知帳號末5碼＋金額</font></center>
<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >為方便對帳，請在完成轉帳單／匯款後告知 1. 帳號末5碼 2. 付款金額</font></i></center>
<hr>
<br><br><br><br>

 <center>  <div class="flex-video widescreen"><iframe src="//player.vimeo.com/video/81164841?byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/81164841">完成付款，如何填寫付款資料。</a> from <a href="http://vimeo.com/user14110827">Chef29</a> on <a href="https://vimeo.com">Vimeo</a>.</p></center>


<br><br>
<br><br>
<hr>
<br><br>


<center><font color = "gray" size ="6" face = "Baskerville Old Face">不方便之處，請多多包涵</font></center>
<center><i><font color = "gray" size ="4" face = "Baskerville Old Face" >很抱歉我們暫時只能以貨到付款，轉帳／匯款收費， 近日將加上信用卡與超商收費服務。</font></i></center>

<br><br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>



<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>
