<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/know" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- 我們服務" /> 
    <meta property="og:description"     content="Chef29今晚大廚是一家美食新創良心事業，我們結合美食與科技，透過買1給1的概念希望能對社會作些有意義的事。若您認同（買1給1）是在作有意義的事，請協助我們將Chef29的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
    <meta property="og:image"           content="http://farm8.staticflickr.com/7325/10641844363_8f23ebe1a9_o.jpg" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center>

  <br><br>
  
  <font color="gray" size ="6" face = "Baskerville Old Face">跟著大廚學做各國美食料理
    </font>

  </font>   
</center>
<br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>
 <br><br> 
<br><br>

<img src="https://farm3.staticflickr.com/2932/14071044385_6590cd6323_o.jpg" width="1347" height="447" alt="Schedule">
 <br><br> 
<br><br>
<br><br>

<a href="http://www.chef29.com/orderpage" ><img src="http://farm8.staticflickr.com/7247/13938179892_67e2d93f36_h.jpg" width="1462" height="450" alt="what"></a>
<br><br>
<br><br>

<br><br>
<img src="https://farm8.staticflickr.com/7371/14067885792_d089cf965f_o.jpg" width="1400" height="300" alt="recipe"></a>

<br><br>
<br><br>
<br><br>

<img src="https://farm3.staticflickr.com/2915/14091103123_4747424111_o.jpg" width="1400" height="300" alt="FRUITS"></a>
<br><br>
<br><br>
<br><br>

<img src="https://farm3.staticflickr.com/2903/14067885712_40ea04c3fd_o.jpg" width="1400" height="329" alt="delivery"></a>

<br><br>
<br><br>
<br><br>

<img src="https://farm6.staticflickr.com/5142/14067885702_dfd1106967_o.jpg" width="1400" height="329" alt="delivery"></a>
<br>
<center><p> <br>

<br><br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>
<br><br><br><br>
<center><font color = "gray" size ="6" face = "Baskerville Old Face"> BON APPETIT! </font></center>
<br>
<center>
 
        </font>


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>