<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/line" /> 
    <meta property="og:title"           content="Chef29 今晚大廚- FB Line WeChat 訂購" /> 
    <meta property="og:description"     content="即日起您可以透過FB粉絲專頁訊息，Line 與 WeChat 訂購 Chef29 今晚大廚餐點了，FB粉絲專頁： chef29今晚大廚，Line 與 WeChat ID: chef29。" /> 
    <meta property="og:image"           content=" http://farm6.staticflickr.com/5502/11097170003_45fb460c17_o.png" /> 
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<center><div class="page-header">
  
     <font color="gray" size ="6" face = "Baskerville Old Face">Fine Dining With A Purpose
        </font>
          
  <% if user_signed_in? %>

<% else %>
  </font>
  
  <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %>
      </font>
    <% end %>
  </font>   
</center>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="http://farm8.staticflickr.com/7376/10865432235_c38d4c9a88_o.png" width="150" height="310" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/menu" ><img src="http://farm6.staticflickr.com/5542/10865422046_415fca3c0d_o.png" width="150" height="301" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="http://farm8.staticflickr.com/7405/10866846856_8fc17bfde9_o.png" width="160" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderlists/new" ><img src="http://farm6.staticflickr.com/5518/11040768243_3debf5b9f2_o.png" width="160" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>
<br><br>
<img src="http://farm6.staticflickr.com/5506/11321861173_d73fb5d505_o.png" width="1168" height="1436" alt="line wechat">


<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</html>