<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/lovemeal "> 
    <meta property="og:title"           content="Chef29 今晚大廚-愛心餐 A Meal With Love">
    <meta property="og:description"     content="人生有高潮就有低潮，不管您是誰或發生了什麼不幸的事，只要您有急需要，Chef29 今晚大廚就會將愛心餐寄給您，幫助您度過難關。若是您自己本人或是您知道誰需要幫忙，請透過 EMAIL：Chef29@chef29.com 通知我們！!。對於曾經受到幫助的人，我們別無所求，只希望當您改日狀況改善後也能夠回來幫助那些需要幫助的朋友們。Chef29 今晚大廚是家想作善事的營利事業並不是在勸募，未來還將為創造就業機會努力，因此請因為我們餐點的價值而購買，請勿因慈善購買。" /> 
    <meta property="og:image"           content="http://farm6.staticflickr.com/5548/10736663183_5748ac4c3b_o.png" />
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<br><br>
<center>
 <center><font color = "gray" size ="6" face = "Baskerville Old Face">愛心餐庫存 <font color = "red" size ="8" face = "Baskerville Old Face">83</font>份</font></center>

</center>

<br><br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>


<br><br>

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<hr>
<div class="row-fluid">

  <div class="span1">

</div>

  <div class="span4" >


<center>
 <a href="http://www.chef29.com/give" ><img src="https://farm8.staticflickr.com/7249/13918900604_c5243d94a0_o.jpg" width="400" height="280" alt="Menu"></a> 
</center>

 </div>
   


<div class="span2" style="border-right: 1px solid #ccc;" >

<center>
 <a href="http://www.chef29.com/give" ><img src="https://farm8.staticflickr.com/7164/13842439643_5c49cf4767_o.jpg" width="150" height="68" alt="Menu"></a> 
</center>

</div>



  <div class="span2" style="border-right: 1px solid #ccc;" >


<center>
 <a href="http://www.chef29.com/lovemeal" ><img src="https://farm8.staticflickr.com/7077/13842783454_713113cbd6_o.jpg" width="150" height="68" alt="Menu"></a> 
</center>

</div>



  <div class="span2">


<center>
 <a href="http://www.chef29.com/makemoney" ><img src="https://farm4.staticflickr.com/3752/13895427106_d92febe562_o.jpg" width="170" height="90" alt="Menu"></a> 
</center>

</div>


  <div class="span1">

</div>

</div>

<hr>

<br><br>
  
<center><font color="gray" size ="4" face = "Baskerville Old Face">
<i>"人生有高潮就有低潮，不管您是誰或發生了什麼不幸的事，只要您有急需要，Chef29 今晚大廚就會將愛心餐寄給您，幫助您度過難關。<br><br>
若是您自己本人或是您知道誰需要幫忙，請透過 EMAIL：Chef29@chef29.com 通知我們！! 對於曾經受到幫助的人，我們別無所求，只希望<br><br>當您改日狀況改善後也能夠幫助那些需要幫助的朋友們。"</i><br><br><br>
 為避免有心人濫用本服務，請填入以下內容後送出
（1. 需幫助人姓名 2. 聯絡電話 3.遇到的困難 4.足夠證明困難的證據 )
並授權我們以匿名<br><br>公佈此需求以尋求協助。Chef29 今晚大廚 在收到需求後，會先對該需求作基本審核，再依照餐點的庫存量與需求的緊急性將愛心餐送出。<br><br><br>
（愛心餐的來源： 每當 Chef29 今晚大廚 賣出一份餐，我們也會透過慈善機構給出一份餐或是如一份餐的金額幫助貧困兒童。而我們會<br><br>從每個月要給出的餐點數量裡挪出一部份當作愛心餐，協助那些有緊急需要的朋友。)
 </font>
</center>

 </font>
<br><br><br>

<hr>
<img src="http://farm8.staticflickr.com/7323/10735655814_06c4f970af_o.png" width="1360" height="126" alt="lovemeal">

<hr>

<div class="row-fluid" >
  <div class="span6" style="border-right: 1px solid #ccc;" >
<br>
<center><font color = "gray" size ="3" face = "Baskerville Old Face">愛心餐需求</font></center>
<br><br><br><br><br><br><br><br>

 </div>
           
<div class="span6"  ><center>           
<br>
<center><font color = "gray" size ="3" face = "Baskerville Old Face">愛心餐送出</font>
<br><br>
<font color = "gray" size ="3" face = "Baskerville Old Face"><%= link_to "三姊弟甜品點心坊", 'http://www.facebook.com/Tsai.Even?fref=ts'%>
</font>

</center>
</div>

</div>
<hr>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>



 </body>
 <script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</center>
</html>


