<!DOCTYPE html>
<html>

<head>
<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/makemoney"/> 
    <meta property="og:title"           content="Chef29 今晚大廚 《為人增加收入》"/>
    <meta property="og:description"     content="
很快的 Chef29 將有能力為台灣的廚師《增加點收入》，希望在不久的將來開始邀請來自各地的廚師或者是任何手上有幾道好菜的料理達人來將其餐點作品放上 Chef29  網站上賣，而每賣出一道餐點我們將給出一定％（佣金）給餐點設計人，同時《買一餐，給一餐》幫助平困兒童計劃也同時進行。雖然一開始透過 Chef29的收入不會很多，但若Chef29餐點訂購量不斷的增加（如：1個月10萬份），那各位廚師可從Chef29 得到的收入也將非常可觀喲～
" /> 
    <meta property="og:image"           content="https://farm4.staticflickr.com/3749/13895497682_fd35b5d963_o.png" />
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>

<br><br>
<center>
 <center><font color = "gray" size ="6" face = "Baskerville Old Face">幫人增加收入</font></center>

</center>

<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=479820998782220";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>
<br><br>
<hr>
<div class="row-fluid">

  <div class="span1">

</div>

  <div class="span4" >


<center>
 <a href="http://www.chef29.com/give" ><img src="https://farm8.staticflickr.com/7249/13918900604_c5243d94a0_o.jpg" width="400" height="280" alt="Menu"></a> 
</center>

 </div>
   


<div class="span2" style="border-right: 1px solid #ccc;" >

<center>
 <a href="http://www.chef29.com/give" ><img src="https://farm8.staticflickr.com/7164/13842439643_5c49cf4767_o.jpg" width="150" height="68" alt="Menu"></a> 
</center>

</div>



  <div class="span2" style="border-right: 1px solid #ccc;" >


<center>
 <a href="http://www.chef29.com/lovemeal" ><img src="https://farm8.staticflickr.com/7077/13842783454_713113cbd6_o.jpg" width="150" height="68" alt="Menu"></a> 
</center>

</div>



  <div class="span2">


<center>
 <a href="http://www.chef29.com/makemoney" ><img src="https://farm4.staticflickr.com/3752/13895427106_d92febe562_o.jpg" width="170" height="90" alt="Menu"></a> 
</center>

</div>


  <div class="span1">

</div>

</div>


<hr>

<center>
<img src="https://farm6.staticflickr.com/5094/13895226462_d42bfb59fe_o.jpg" width="1200" height="7000" alt="Menu"></a> 
</center>


<hr>

<br><br>

<center>
<img src="https://farm6.staticflickr.com/5276/14111968456_1015830850_o.jpg" width="1200" height="7000" alt="Menu"></a> 
</center>

<br><br>
<center>
<img src="https://farm8.staticflickr.com/7449/13899389307_70cfc4dae6_o.jpg" width="500" height="400" alt="1. Week Nov 8th" href="#pickup" data-toggle="modal">


<div id="pickup" class="modal fade" tabindex="-1" data-width="500" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">a poet 地圖</h4>
  </div>

  <div class="modal-body">

<center>

<img src="https://farm6.staticflickr.com/5315/14106062803_297e4e57f4_o.jpg" width="700" height="912" alt="1 nov 8th full">
</center>
  </div>
   </div>
  
</center>


<br><br>

<center>

  <a href="http://www.chef29.com/pickup" ><img src="https://farm8.staticflickr.com/7414/14135166905_160b419f15_o.jpg" width="1225" height="450" alt="jointoday"></a>
</center>

<br><br>
<br><br>


<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>


 </body>
 <script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</center>
</html>


