<title> Chef29 今晚大廚 － 了解更多 Learn more about Chef29 www.chef29.com! </title>

<center><div class="page-header">
    <font color="gray" size ="6" face = "Baskerville Old Face">跟著 Chef29 今晚大廚學作外國料理！</font>
         <% if user_signed_in? %>

<% else %>
        </font>
          <font color = "white" style="padding-left:60px;" > <%= link_to '註冊', new_user_registration_path, class: "btn btn-large
   btn-primary" %></font>

<% end %>
        </font>
    
  </center>

<div class="center hero-unit">
<font size ="4"><center>
隱私權保護政策的內容
</center>
</font> 

<body>

<br><br>
CHEF29-今晚大廚非常重視您的隱私權。請您閱讀以下有關隱私權保護政策的更多內容。
<br><br>
CHEF29-今晚大廚使用您個人資料的方式
<br><br>
本政策涵蓋的內容包括：CHEF29-今晚大廚如何處理蒐集或收到的個人資料 (包括與您過去使用 CHEF29-今晚大廚產品及服務相關的資料）。個人資料是指得以識別您的身分且未公開的資料，如姓名、地址、電子郵件地址或電話號碼。
<br><br>
本隱私權保護政策只適用於 CHEF29-今晚大廚
<br><br>
本政策不適用於非 CHEF29-今晚大廚所有或控制的公司，也不適用於非 CHEF29-今晚大廚僱用或管理之人。此外，Yahoo! 收購的某些公司使用自己原先的隱私權政策 (可參閱我們收購的公司頁面)。
<br><br>
資料蒐集及使用
<br><br>
總論
<br><br>
在您註冊 CHEF29-今晚大廚帳號、使用 CHEF29-今晚大廚產品或服務、瀏覽 CHEF29-今晚大廚網頁或某些合作夥伴的網頁，以及參加宣傳活動或贈獎遊戲時，CHEF29-今晚大廚會蒐集您的個人資料。CHEF29-今晚大廚也可能將商業夥伴或其他企業所提供的關於您的資訊與 CHEF29-今晚大廚所擁有的您的個人資料相結合。 
<br><br>
當您在 CHEF29-今晚大廚註冊時，我們會詢問您的姓名、電子郵件地址、出生日期、性別及郵遞區號等資料。在您使用某些特定服務時，我們可能還會詢問您的住址、身分證號碼以及您財產的相關資料。在您註冊 CHEF29-今晚大廚帳號並登入我們的服務後，我們就能辨別您的身分。 您得自由選擇是否提供個人資料給我們，但若特定資料欄位係屬必填欄位者，您若不提供該等資料則無法使用相關的CHEF29-今晚大廚產品及服務。
<br><br>
CHEF29-今晚大廚蒐集您與我們或我們的商業夥伴交易的資料，包括您使用我們所提供服務的相關資料。
<br><br>
CHEF29-今晚大廚也自動接收並記錄您電腦和瀏覽器上的資料，包括 IP位址、CHEF29-今晚大廚cookie中的資料、軟體和硬體屬性以及您瀏覽的網頁紀錄。
<br><br>
在您使用CHEF29-今晚大廚產品及服務期間，CHEF29-今晚大廚得於全球地區將資料用作以下用途：客製化廣告及您看到的網頁內容、滿足您對產品和服務的要求、改進我們的服務、聯絡您、進行研究，以及提供內部及外部客戶不載有個人資料之市場分析或業務報告。 
<br><br>
CHEF29-今晚大廚蒐集、處理及利用個人資料之特定目的如下：行銷業務、消費者、客戶管理與服務、資訊通訊服務、網路購物及其他電子商務服務、廣告和商業行為管理業務以及其他契約、類似契約或法律關係管理之事務或業務。
<br><br>
資料分享與揭露 
<br><br>
除非是為了向您提供您所要求的產品或服務、獲得您的授權，或有以下情形，否則 CHEF29-今晚大廚不會向任何其他人士或非關係企業提供您的個人資料，或與之分享：
•	我們向已簽署保密協議書之代表 CHEF29-今晚大廚執行業務或與我們共事的值得信賴的合作夥伴提供這些資料。這些公司可能會將您的個人資料用於協助 CHEF29-今晚大廚就我們和行銷夥伴所提供產品及服務的事宜，與您進行溝通。但這些公司無獨立權利分享這些資料。
•	我們對傳票、法院命令或法律程序作出回應、取得或行使法律權利，或對訴訟上之請求提出防禦。
•	我們認為為了調查和防止非法活動、涉嫌詐欺、對人身安全有潛在威脅的狀況、對CHEF29-今晚大廚服務條款的違反，或為了對上述情形採取應對措施，或法律另有規定，而有必要分享您的個人資料時。<br><br>
•	如果 CHEF29-今晚大廚全部或部分業務被其他公司收購或合併，我們會將您的個人資料移轉給該公司。如果發生這種情況，CHEF29-今晚大廚會在您的個人資料被移轉且將適用不同的隱私權政策前通知您。
CHEF29-今晚大廚會根據您的個人資料向您展示精準式行銷廣告。廣告主 (包括廣告遞送公司) 可能假定那些瀏覽、點閱精準式行銷廣告或與廣告互動的人士符合精準式行銷標準，例如特定地理區域內 18至24 歲的女性。
•	在您瀏覽精準式行銷廣告或與廣告發生互動時，CHEF29-今晚大廚不會向廣告主提供您的任何個人資料。然而，一旦瀏覽廣告或與廣告發生互動，即表示您同意廣告主可能會假定您符合展示型廣告所使用的精準式行銷標準。
•	CHEF29-今晚大廚廣告主包括金融服務提供者 (如銀行、保險代理人、證券經紀人及抵押貸款機構) 和非金融公司 (如商店、航空公司及軟體公司)。
CHEF29-今晚大廚與各行各業的供應商、合作夥伴、廣告主及其他服務提供者共事。欲瞭解所需產品或服務提供者的更多相關資料，請參閱詳盡的參照連結。 
<br><br>
Cookie
<br><br>
CHEF29-今晚大廚會在您的電腦上設定並存取 CHEF29-今晚大廚 cookie 。
<br><br>
CHEF29-今晚大廚允許在某些 CHEF29-今晚大廚網頁上刊登廣告的其他公司在您的電腦上設定並存取 cookie。其他公司將根據其自訂的隱私權政策使用其cookie，並非依據本政策。廣告主或其他公司不能存取 CHEF29-今晚大廚的 cookie。
<br><br>
CHEF29-今晚大廚會使用網路beacon存取我們的網站內外與產品及服務有關的cookie。
<br><br>
您查詢、修改及刪除個人帳號資料及偏好設定的能力
<br><br>
總論
<br><br>
您可隨時查詢、閱覽、複製及修改個人 CHEF29-今晚大廚帳號資料，包括行銷偏好設定 。
<br><br>
CHEF29-今晚大廚可能會不定時在行銷偏好設定頁面上新增新類別的行銷訊息。瀏覽此頁面的使用者可選擇退出接收新類別的行銷訊息，或按照所收訊息中的指示取消訂閱這些訊息。 
<br><br>
我們保有權利向您傳送 CHEF29-今晚大廚服務相關的特定訊息 (如服務公告、管理訊息)，這些訊息被視為您CHEF29-今晚大廚帳號的一部分，您無法選擇退出接收。 
<br><br>
如果您要刪除您的CHEF29-今晚大廚帳號，請與我們聯繫。關於您的帳號刪除後可能保留在我們存檔紀錄中的資料，請點閱此處。
<br><br>
機密性和安全性
<br><br>
我們會將有權存取您個人資料之員工限於我們合理相信是為了向您提供產品或服務或為了完成工作而需要取得這些資料的員工。 
<br><br>
我們已採取符合法規要求的實體、電子和程序防護措施，以保護您個人資料的安全。
<br><br>
欲瞭解安全性詳情，包括我們已採取及您可採取的安全性措施，請參閱CHEF29-今晚大廚網路安全中心 。
<br><br>
隱私權保護政策修訂
<br><br>
CHEF29-今晚大廚可不時修訂本政策。當我們在個人資料的處理上有重大變更時，會將通知傳送到您在 CHEF29-今晚大廚帳號中指定的主要電子郵件地址，或在我們的網站上張貼告示。 
<br><br>
問題和建議 
<br><br>
如果您有任何問題或建議，請填寫 意見反應表，或透過客服信箱與我們聯繫。
<br><br><br><br>
生效日期：2013年7月30日


</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44036574-1', 'chef29.com');
  ga('send', 'pageview');

</script>
</div>