<!DOCTYPE html>
<html>

<head>
  <% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com/return" /> 
    <meta property="og:title"           content="Chef29 今晚大廚-退貨政策" /><meta property="og:description"     content="Chef29今晚大廚 －大廚為您準備食譜與食材，送到府上29分鐘讓您變大廚。" /> 
    <meta property="og:image"           content="http://www.yoursdress.com/media//best_return_policy.jpg" /> 
<% end %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
</head>


<br><br>
<center>
  
     <font color="gray" size ="6" face = "Baskerville Old Face">退貨政策
        </font>
          
        </font>
     
  </center>
</head>

<br><br><br><br>

<body>
<img src="http://farm4.staticflickr.com/3770/10832792393_88688f5367_o.jpg" width="1422" height="492" alt="return">

<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>

var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
</body>
