<!DOCTYPE html>
<html>

<br><br>
<center>
  <font color="#5CA5FF" size ="6" face = "Baskerville Old Face">除了享受美味料理還有許多好處!</font>
<br><br>


  </font>
</center>

<br><br><br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>

  </div>

</div>

</center>

<br><br>

<head>
<% content_for :head do %>
  <meta property="fb:app_id"          content="479820998782220" /> 
  <meta property="og:type"            content="website" /> 
  <meta property="og:url"             content="http://www.chef29.com/why" /> 
  <meta property="og:title"           content="Chef29 今晚大廚好處多多" />
  <meta property="og:description"     content="Chef29今晚大廚 要讓您吃的更有品味，更健康，更省錢，同時做善事幫助平困兒童!若您認同（買1給1）是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。" /> 
  <meta property="og:image"           content="http://farm8.staticflickr.com/7325/10641844363_8f23ebe1a9_o.jpg" /> 
<% end %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

</head>

<body>

<img src="http://farm8.staticflickr.com/7306/10832938805_ab12560c2a_o.png" width="1352" height="2178" alt="why13"></a>
<br>
<br>
<br>
 

<img src="http://farm6.staticflickr.com/5472/10453170743_f557b48715_o.png" width="1360" height="1584" alt="blank2">
<br><br>
  
<br>
<img src="http://farm8.staticflickr.com/7405/10452943914_d2dc85ae73_o.png" width="1392" height="552" alt="why3"></a>

<br>
<br>
<br>

<center>
<div class="row-fluid">
  
  <div class="span3"  >
    <center>
    
   <a href="http://www.chef29.com/users/sign_up" ><img src="https://farm3.staticflickr.com/2830/13400108224_ede3d928a7.jpg" width="225" height="250" alt="jointoday"></a>

  </center>
</div> 

  <div class="span3">
    <center>
 <a href="http://www.chef29.com/onmenu" ><img src="https://farm4.staticflickr.com/3782/13399873843_4180194a3e.jpg" width="225" height="250" alt="Menu"></a> 
</center>
  </div> 


  <div class="span3">
  <center>
<a href="http://www.chef29.com/how"><img src="https://farm8.staticflickr.com/7279/13400107704_bb215ac8c6.jpg" width="225" height="301" alt="howtobuy"></a>

</center>
  </div>

   <div class="span3"><center>
  <a href="http://www.chef29.com/orderpage" ><img src="https://farm4.staticflickr.com/3798/13399751675_49fea54123.jpg" width="225" height="380" alt="kart"></a>
</center>
</div>

</div>

</center>


</body>
<script type="text/javascript">stLight.options({publisher: "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "3d6bd212-1a1c-4bf7-9f1c-7154d13f873d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "googleplus", "pinterest", "baidu", "email", "blogger"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
</html>