<br><br>
    <font size="5" color ="gray" face = "Baskerville Old Face">所有訂單</font>
    <hr>
     <table class="table table-striped">
        <thead>
            <tr>
               <font size="2" color ="gray" face = "Baskerville Old Face"> 
                <th>訂單</th></font>
               
                <th>訂購人</th>
                <th>電話</th>
                <th>原地址</th>
                <th>送禮</th>
                <th>新地址</th>
                <th>1餐</th>
               <th>2餐</th>
               <th>3餐</th>
               <th>4餐</th>
               <th>5餐</th>
               <th>6餐</th>
               <th>周果</th>
               <th>連果</th>
               <th>訂單</th>
                <th>訂單</th>
               
                <th>付款</th>
                <th>收餐</th>
                <th>發票</th>
            </tr>
        </thead>

    <br>
    <div id="orderlists">
        <%= render @orderlists %>
    </div>
       
</table>
