<img src="http://farm3.staticflickr.com/2814/10641621604_e92da3c3fd_o.jpg" width="190" height="150" alt="round logo">

<p>歡迎您來到Chef29 今晚大廚<%= @email %>!</p>
<br>
<p>請透過以下連結來完成您的EMAIL帳號確認！</p>

<p><%= link_to '確認我的EMAIL帳號', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br><br>
<font color="#5CA5FF" size ="5" face = "Baskerville Old Face"><p>PS: 您透過Chef29 今晚大廚購買的第一份餐點是免費的哦！</p></font>
<p><%= link_to '立即購買', 'http://www.chef29.com/orderlists/new' %></p>
<br><br>
<img src="http://farm6.staticflickr.com/5532/10640714525_423c6ff82a_o.png" width="1000" height="90" alt="email banner">
