<img src="http://farm3.staticflickr.com/2814/10641621604_e92da3c3fd_o.jpg" width="190" height="150" alt="round logo">

<p>您好 <%= @resource.email %>,</p>
<br><br>
<p>有人申請了更換密碼的連結，您可以透過以下連結來更換新密碼。</p>


<p><%= link_to '更改我的密碼', edit_password_url(@resource, :reset_password_token => @token) %></p>
<br>

<p>如果你沒有申請更換密碼，請不要理會此EMAIL。</p>

<p>您的密碼直到您透過以上連結更改後才會產生新密碼。</p>
<br><br>
<font color="#5CA5FF" size ="5" face = "Baskerville Old Face"><p>PS: 您透過Chef29 今晚大廚購買的第一份餐點是免費的哦！</p></font>
<p><%= link_to '立即購買', 'http://www.chef29.com/orderlists/new' %></p>
<br><br>
</bodY>
</html>
<img src="http://farm6.staticflickr.com/5532/10640714525_423c6ff82a_o.png" width="1000" height="90" alt="email banner">


